body {
    background-image: url("http://i.imgur.com/VW2DYbL.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.border-radius {
    border-radius: 25px;
}
.row .col.s6 {
    padding-top: 70px;
}
.col.s6 {
    margin-bottom: 20%;
}
.card.captured {
    text-align: center;
    
}
img {
    width: 100%;
    
}
.card.jumbo {
    background-color: black;
    margin: 0%;
    
}
.label-icon {
    background-image: url(../images/pokeball1600.png);
    background-size: 100%;
}
#attributes {
    border-radius: 15px;
    background-color: deepskyblue;
}
.btn.waves-effect.one {
    background-color: red;
}
.btn.waves-effect.two {
    background-color: green;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    }
    
    .section {
    position: relative;
    height: 75vh;
    }
    
    .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    }
    
    .bg1::after {
    
    }
    .row {
        width: 100%;
    }
    .shine {
        width: 100%;
    }
    .moreShine {
        width: 100%;       
    }
    
    .theDex {
        visibility: hidden;
    }








